# Build output
bin/
obj/
/VSBaseDocumentation/Help/

# Test Results
TestResults/

# Solution packages directory
/packages/

# Per-user files created by Visual Studio
*.user
*.suo

# Roslyn IntelliSense Cache
.vs/

# NuGet Output Directory
nuget/
